* {
    padding: 0px;
    margin: 0px;
}

/*Geral*/
body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    background-color: #EEE;
    color: #404040;
    font-size: 1rem;
    line-height: 1.5;
}

h1 {
    font-size: 2.8em;
    padding: 15px 0px;
    font-weight: 540;
}

h2 {
    font-size: 1.9em;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    padding: 10px 0px;
    border-bottom: 1px solid #404040;
    display: inline-block;

}

h5 {
    padding: 0 5px 5px 5px;
    font-size: 1em;
}

/*Estilo de listas*/
ul {
    list-style: none;
} 

/*Cabeçalho*/
header#cabecalho {
    display: flex;
    background: #191919;
    color: white;
}

/*Container do cabeçalho*/
.container-header {
    width: 100%;
    max-width: 1130px;

    display: flex;
    margin: 0 auto;
    padding: 0 10px;
}

#area-logo {
    padding: 8px 0;
}

/*Barra de navegação*/
nav#navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* margin: 10px 120px 10px 0px; */
    text-transform: uppercase;
}

/*Alinhamento do menu*/
nav#navbar ul#menu {
    font-family: "Muli",Helvetica,Arial,sans-serif;
    font-size: 0.97em;
    display: flex;
} 

nav#navbar ul#menu a:link, nav#navbar ul#menu a:visited {
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav#navbar ul#menu a:hover {
    color: #f79d33;
    transition: color .2s ease-in-out;
}
input#busca {
    width: 130px;
    background-color: #191919;
    border: none;
    padding-left: 40px;
    font-size: 1.1em;
    color: rgb(226, 226, 226);

    border-left: 1px solid gray;

    background-image: url(../img/lupa1.png);
    background-position: 20px 0px;
    background-repeat: no-repeat;
    background-size: 15px;

    cursor: pointer;
}
input#busca:hover  {
    background-image: url(../img/lupa2.png);
    border-left: 1px solid gray;
}
input#busca:focus  {
    background: white;
    color: black;
    width: 210px;
    height: 35px;
    border-radius: 4px;

    background-image: url(../img/lupa1.png);
    background-position: 15px 6px;
    background-repeat: no-repeat;
    background-size: 15px;

    border-left: 1px solid gray;
}


/*Container*/
#container {
    width: 1130px;
    margin: 0 auto;
}

/*Guia de pagina*/
#guia-de-pagina {
    margin: 10px 0px;
    color: gray;
    font-size: 1.1em;
}
#guia-de-pagina a {
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
}
.espaco-barra {
    padding: 0px 5px;
}
#guia-de-pagina a:link, #guia-de-pagina a:visited {
    text-decoration: none;
    color: gray;
}
#guia-de-pagina a:hover {
    color: #FBBE14;
    border-bottom: 1px solid #FBBE14;
}

/*Conteudo*/
#conteudo {
    background: white;
    width: 720px;
    float: left;
    padding: 0px 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#conteudo p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    line-height: 25px;
}
/*Área do Autor*/
#area-autor {
    color: gray;
    display: inline-block;
    position: relative;
}
#area-autor img {
    border: 2px solid #F79D33;
    border-radius: 20px;
}
#area-autor span {
    padding: 0 5px 10px 5px;
}
.autor {
    display: inline-block;
    line-height: -40px;
}
/*Area Veja Tambem*/
section#veja-tambem {
    padding-top: 10px;
    font-size: 1.2em;
}
section#veja-tambem ul {
    padding: 10px 30px;
}
section#veja-tambem ul li {
    padding: 5px;
}
section#veja-tambem ul li a:hover {
    text-decoration: none;
}

/*Lateral*/
aside {
    width: 380px;
    float: right;
    box-sizing: border-box;
}
/*Cards*/
.titulo-cards {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
section.cards ul {
    margin-top: 20px;
    list-style: none;
}
section.cards li {
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: white;
    height: 96px;
}
aside img {
    float: left;
    margin-right: 10px;
}
aside img:hover {
    opacity: 0.9;
}
aside p {
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bold;
}
section.cards a:link {
    text-decoration: none;
    color: #4e4e4e;
}
/*Últimos*/
section.ultimos {
    background-color: white;
    border: 5px solid #FDE4C6;
    padding: 10px 20px;
}
section.ultimos h3 {
    border: none;
    color: #F79D33;
}
section.ultimos ul {
    list-style: none;
}
section.ultimos li {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
section.ultimos a:link {
    text-decoration: none;
    color: #404040;
    font-size: 1.1em;
    font-weight: bold;
}
section.ultimos a:hover {
    text-decoration: underline;
}
/*Botão*/
input#ver-mais {
    background-color: #F79D33;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
input#ver-mais:hover {
    background-color: #ff9011;
    color: black;
}
.alinhar {
    padding: 25px;
    text-align: center;
}

/*Rodapé*/
footer {
    color: rgba(128, 128, 128, 0.76);
    clear: both;
    background: #404040;
    padding: 10px;
    margin-top: 20px;
}
footer span {
    text-align: right;
}

/* Telas que tenham até 569.98px. */
@media (max-width: 569.98px) {

}

/* Telas que tenham de 570px até 991.98px. */
@media (min-width: 570px) and (max-width: 991.98px) {

}

/*Telas de 992px pra mais*/
@media (min-width: 992px) {

}

/*Tela maiores que 1024 pixels*/
@media (min-width: 1024px) {
}